@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-geist-mono);
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --color-brand: #2563eb; /* tweak to taste */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
    font-family: 
    "Noto Sans",
    "Noto Sans Devanagari",
    "Noto Sans Bengali",
    "Noto Sans Telugu",
    "Noto Sans Tamil",
    Arial, Helvetica, sans-serif;
}

/* Markdown-friendly styles */
.markdown {
  line-height: 1.6;
}

.markdown h1,
.markdown h2,
.markdown h3 {
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.markdown p {
  margin: 0.5em 0;
}

.markdown ul {
  list-style-type: disc;
  margin-left: 1.5em;
  margin-bottom: 1em;
}

.markdown ol {
  list-style-type: decimal;
  margin-left: 1.5em;
  margin-bottom: 1em;
}

.markdown strong {
  font-weight: 600;
}
